# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
tests/testthat/wikipedia.vcd text eol=crlf
tests/testthat/wikipedia-mod.vcd text eol=crlf
tests/testthat/wikipedia-mod2.vcd text eol=crlf
tests/testthat/wikipedia-mod3.vcd text eol=crlf
tests/testthat/wikipedia-mod4.vcd text eol=crlf
